@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700|Roboto');

html, body {
    font-family: 'Raleway', sans-serif;
}

.App{
    /* background-color: #0c0b0f; */
    color: #04f992;
    min-height:100vh;
    display: grid;
    grid-template-columns:30px 42vw auto;
    grid-template-rows: 50% 100px 70px 70px auto;
}

.title {
    align-self: start;
    margin:0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.title > h1 {
    margin:0;
    font-size:9em;
}
.nameContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#joinRoom {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
}
#createRoom {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
}

.image {
    grid-column: 3/4;
    grid-row: 1/6;
    /* background-image: url('https://images.unsplash.com/photo-1545569310-f6d4b4d7ede9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjU1NzQ5fQ&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
    background-position: center;
}
.fpButton {
  background: #262033;
  color:white;
  font-weight: bold;
  min-height: 50px;
  margin-right: 10px;
  width:180px;
  border: none;
  padding:10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 20pt;
}
